body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.text.container {
    max-width: 900px !important
}

.main.container {
    margin-top: 6em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: white;}
tr:hover {background-color: #ddd;}
td:hover {background-color: gray;
}

th {
    background-color: #4CAF50;
    color: white;
}

