body {
  background-color: #FFFFFF;
  text-align: justify;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
/* mobile */
@media only screen and (max-width: 768px) {
  html {
    font-size: .6rem;
  }
  .ui.menu {
    font-size: 1rem;
  }
  .ui.segment {
    font-size: 1rem;
    .
}
  .main.container {
    margin-top: 3rem;
  }
  .ui.text.container {
    font-size: 2rem;
  }
  .ui.container {
    width: 100%;
  }
}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: .6rem;
  }
  .ui.menu {
    font-size: 1rem;
  }
  .ui.segment {
    font-size: 1rem;
    .
}
  .main.container {
    margin-top: 3rem;
  }
  .ui.text.container {
    font-size: 2rem;
  }
  .ui.container {
    width: 100%;
  }
}
/* computer */
@media only screen and (min-width: 992px) {
  .main.container {
    margin-top: 2.5em;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .ui.text.container {
    max-width: 900px !important
}
}
div.noborder {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: none !important;
}
.wireframe {
  margin-top: 2em;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:nth-child(odd){
  background-color: white;
}
tr:hover {
  background-color: #ddd;
}
td:hover {
  background-color: gray;
}
th {
  background-color: #4CAF50;
  color: white;
}
