body {
  background-color: #FFFFFF;
  text-align: justify;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

 .ui table li {
   margin-left: -2rem;
 }

/* mobile */
@media only screen and (max-width: 768px) {
 .ui.header:first-child {
   margin-top: 2rem;
 }
 .ui.table {
   font-size: 0.8rem;
 }
}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 991px) {
 .ui.header:first-child {
   margin-top: 2rem;
 }
 .ui.table {
   font-size: 0.8rem;
 }
}
/* computer */
@media only screen and (min-width: 992px) {
  .main.container {
    margin-top: 2.5em;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .ui.text.container {
    max-width: 900px !important
}
}
div.noborder {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: none !important;
}
.wireframe {
  margin-top: 2em;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:nth-child(odd){
  background-color: white;
}
/*
 * tr:hover {
  background-color: #ddd;
}
td:hover {
  background-color: gray;
}
*/
th {
  background-color: #4CAF50;
  color: white;
}
