body {
 background-color: #FFFFFF;
 text-align: justify;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px; 
  }
  .main.container {
    margin-top: 3em;
  }
  .ui.container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px; 
  }
  .main.container {
    margin-top: 3em;
  }
  .ui.container {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {

.main.container {
    margin-top: 6em;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.text.container {
    max-width: 900px !important
}

}

div.noborder {
border: none !important; 
box-shadow: none !important; 
-webkit-box-shadow: none !important; 
border-radius: none !important;

}

.wireframe {
    margin-top: 2em;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: white;}
tr:hover {background-color: #ddd;}
td:hover {background-color: gray;
}

th {
    background-color: #4CAF50;
    color: white;
}

