<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title>Outils pour l'entraînement en course à pied</title>
  <link rel="stylesheet" href="/static/semantic.min.css" />
  <link rel="stylesheet" href="/static/vma.css" />
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        Outils foule.es
      </a>

      <a href="/vma" class="header item">
        Temps et allures
      </a>

      <a href="/plan" class="header item">
        Plan d'entraînement
      </a>

      <a href="#" class="header item">
        VMA de <span style="margin-left: 3px; margin-right: 3px" id="vma"></span> km/h
      </a>

      <a href="https://foule.es" class="header right item">
        Blog foule.es
      </a>

    </div>
</div>

<div class="ui main text container">
{% block body %}{% endblock %}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
    </div>
</div>


<script src="/static/jquery.min.js" type="text/javascript"></script>
<script src="/static/utils.js" type="text/javascript"></script>
<script language="javascript">
  var vma = getCookie('vma');
  $('#vma').text(vma);
</script>

{% block script %}{% endblock %}


</body>
</html>
