<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Outils pour l'entraînement en course à pied</title>
  <link rel="stylesheet" href="/static/semantic.min.css" />
  <link rel="stylesheet" href="/static/vma.css" />
  {% block head %}{% endblock %}
</head>
<body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">
      <i class="home icon"></i>
    </a>
    <a href="/vma" class="header item">
      Allures
    </a>
    <a href="/plan" class="header item">
      Plan
    </a>
    <a href="/guide" class="header item">
      Guide
    </a>
    <a href="#" class="header item">
      VMA<span style="margin-left: 3px; margin-right: 3px" id="vma"></span>km/h
    </a>
    <a href="https://foule.es" class="header right item">
      Blog
    </a>
  </div>
</div>

<div class="ui main text container">
  <div class="ui vertical segment computer only" style="border: none">
    <div class="ui right rail" style="">
      <div class="ui sticky">
        <p style="min-height: 20px"></p>
        {% block sticky %}{% endblock %}
      </div>
    </div>
  </div>
  <div id="content">
    {% block body %}{% endblock %}
  </div>
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://ziade.org/resume.html">Logiciel créé par Tarek Ziadé</a>
      <a class="item" href="https://bottlepy.org">Codé avec Python, Javascript et Bottle.py</a>
      <a class="item" href="https://semantic-ui.com">Mise en page avec Semantic UI</a>
      <a class="item" href="https://github.com/tarekziade/vma/">Open Source</a>
    </div>
  </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/utils.js"></script>
<script src="/static/semantic.min.js"></script>
<script>
  var vma = getCookie('vma');
  $('#vma').text(vma);
  $('.ui.sticky')
        .sticky({
          context: '#content',
          pushing: true
        })
      ;
</script>
{% block script %}{% endblock %}
</body>
</html>
