{% extends "base.html" %}
{% block body %}

<h1 class="ui header">
<i class="question circle outline icon"></i>
Guide d'utilisation
</h1>

<p>Cette page fourni quelques explications et définitions des termes utilisés
dans les outils.</p>

<h2 class="ui header">VO2 max</h2>
<p>Le VO2 max, ou Volume Maximum d'oxygène est la quantité maximum d'oxygène
que le corps est capable de transmettre aux muscles pendant l'effort. 
Lorsque l'on atteint ce seuil, le corps ne peut plus suivre et se retrouve
plus ou moins rapidement en dette d'oxygène. C'est pour cette raison 
qu'on ne peut pas sprinter indéfiniment, et qu'il convient d'adapter 
son allure à la distance que l'on va effectuer. Pour des vitesses
très lentes de course, la VO2 max n'est pas un facteur limitant, puisque
le corps est capable de fournir en oxygène les muscles indéfiniments.
D'autres facteurs entreront en compte (fatigue, plus de carburant (glycogéne), etc.)
</p>

<p>
Le VO2 max est calculé en millilitre/minute/kg, et est plus important chez les 
hommes et baisse avec l'âge. Voici quelques valeures:
</p>
<ul>
  <li>Kilian Jornet: 92</li>
  <li>Coureur de niveau national: 70-80</li>
  <li>Coureur de niveau régional: 60-70</li>
  <li>Coureur de niveau départemental: 50-60</li>
  <li>Sédentaire: 30-50</li>
</ul>

<h2 class="ui header">VMA</h2>
<p>La VMA est la Vitesse Maximale Aérobie. C'est la vitesse atteinte lorsque l'on 
atteint le VO2 max. Cette valeur, exprimée en km/h, 
permet de définir la capacité de chaque coureur et est utilisée pour préparer des
séances. La valeure de la VMA n'est pas entièrement liée à la valeure VO2. D'autres
paramètres entrent en compte, comme l'économie de course.
</p>
<p>
Les plans de foule.es sont calculés avec des pourcentages de la VMA, pour travailler
dans des zones cibles d'intensités:
</p>

<ul>
<li>Fractionnés intensifs : 100 à 105% et < 1m10s</li>
<li>Fractionnés extensifs : 95 à 100% et > 1m10s</li>
<li>Allure spécifique 10km: 85 à 90%</li>
<li>Allure spécifique Semi: 80 à 85%</li>
<li>Allure spécifique Marathon: 75 à 80%</li>
<li>Endurance fondamentale: 65 à 75%</li>
<li>Footing de récupération: < 65%</li>
</ul>

<h2 class="ui header">VMA</h2>
<p></p>

<h2 class="ui header">Fractionné intensif</h2>
<p>XXX</p>


<h2 class="ui header">Fractionné extensif</h2>
<p>XXX</p>




{% endblock %}


