{% extends "base.html" %}

{% block body %}
<h1 class="ui header">
  <i class="users icon"></i>
  <div class="content">
    Outils pour la course à pied
    <div class="sub header">par Tarek Ziadé</div>
  </div>
</h1>

<p>
Cette page propose des outils pour organiser vos entraînements. Tous les
calculs sont basés sur la connaissance de votre VMA.
</p>

<p>Pour bien comprendre le fonctionnement des outils, rendez-vous sur le <a href="/guide">guide</a>.
</p>
<div>
<form class="ui form"
      id="vmaForm" onsubmit="return false;"
      action="" method="post">
  <div class="field">
    <label>Vitesse Maximum Aérobie</label>
    <div class="ui right labeled input">
      <select class="ui search dropdown" id="speedValue">
        <option value="12">12</option>
        <option value="12.5">12.5</option>
        <option value="13">13</option>
        <option value="13.5">13.5</option>
        <option value="14">14</option>
        <option value="14.5">14.5</option>
        <option value="15">15</option>
        <option value="15.5">15.5</option>
        <option value="16">16</option>
        <option value="16.5">16.5</option>
        <option value="17">17</option>
        <option value="17.5">17.5</option>
        <option value="18">18</option>
        <option value="18.5">18.5</option>
        <option value="19">19</option>
        <option value="19.5">19.5</option>
        <option value="20">20</option>
        <option value="20.5">20.5</option>
        <option value="21">21</option>
      </select>
      <div class="ui basic label">km/h</div>
    </div>
  </div>
  <div class="grouped fields">
    <label>Genre</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="gender" value="0" id="genderM" checked="checked">
        <label>Homme</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="gender" value="1" id="genderW">
        <label>Femme</label>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Age</label>
    <input type="text" name="age" id="age"/>
  </div>
  <div class="field">
    <label>FC Max</label>
    <div class="ui right labeled input">
      <input type="text" name="hrmax" id="hrmax">
      <div class="ui basic label">bpm</div>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="nohrmax" id="hrnomax">
      <label>FC Max théorique par age</label>
    </div>
  </div>
</div>
</form>
</div>
<div class="ui message">
<p>
Une fois les informations saisies, voici les outils disponibles:
</p>
<ul class="list">
  <li><a href="/vma">Un tableau des zones, allures et temps de passage</a></li>
  <li><a href="/plan">Un générateur de plan</a></li>
  <li>Et pour plus d'information, <a href="/guide">un guide</a></li>
</ul>
</div>
<div id="gprd" class="ui message hidden">
  <i class="close icon"></i>
  <div class="header">
    GPRD
  </div>
  <p>Ce site stocke les informations saisies dans un cookie sur votre ordinateur.
  Aucune infornation n'est conservée sur le serveur.</p>
</div>

{% endblock %}


{% block script %}
<script language="javascript">
$(document).ready(function() {



  var gprd, vma, hrmax, age, gender;

  function hrmaxFromAge(age) {
    return Math.round(191.5 - 0.007 * (age * age));
  }


  function setFromCookie() {
    vma = getCookie('vma');
    if (!vma) {
      vma  = 19;
    }
    $('#speedValue').val(vma);
    gprd = getCookie('gprd');
    age = getCookie('age');
    if (!age) {
       age = 43;
    }
    $("#age").val(age);
    hrmax = getCookie('hrmax');
    if  (!hrmax) {
      hrmax = hrmaxFromAge(age);
    }
    if (hrmax == hrmaxFromAge(age))  {
      $("#hrmax").attr("disabled", true);
      $("#hrnomax").prop("checked", true);
    } else {
      $("#hrmax").attr("disabled", false);
      $("#hrnomax").prop("checked", false);
    }
    $("#hrmax").val(hrmax);

    gender  = getCookie('gender');
    if (gender) {
       $("#genderM").prop("checked", gender == 0);
       $("#genderW").prop("checked", gender != 0);
    }
  }

  function updateCookie() {
    setCookie('vma', vma);
    setCookie('hrmax', hrmax);
    setCookie('gender', gender);
    setCookie('age', age);
  }

  setFromCookie();
  updateCookie();


  $("#speedValue").change(function(){
      vma = $(this).children("option:selected").val();
      setCookie('vma', vma);
      $('#speedValue').val(vma);
      $('#vma').text(vma);
  });

  if (!gprd) {
    let gprdMessage = $('#gprd');
    if (gprdMessage.hasClass('hidden')){
      gprdMessage.removeClass('hidden')
      gprdMessage.addClass('visible');
    } else {
      gprdMessage.removeClass('visible')
      gprdMessage.addClass('hidden');
    }
  }

  $("#hrnomax").change(function() {
    var checked = $(this).prop("checked");
    age = $("#age").val();
    hrmax = hrmaxFromAge(age);
    $("#hrmax").val(hrmax);
    if (checked) {
      $("#hrmax").attr("disabled", true);
    } else {
      $("#hrmax").attr("disabled", false);
      $("#hrmax").select();
    }
    setCookie('hrmax', hrmax);
  });

  $("#hrmax").change(function(){
    setCookie('hrmax', $(this).val());
  });

  $("#age").change(function(){
    age = $(this).val();
    setCookie('age', age);
    if ($("#hrnomax").prop("checked")) {
      hrmax = hrmaxFromAge(age);
      $("#hrmax").val(hrmax);
      setCookie('hrmax', hrmax);
    }
  });

  function genderChange() {
      gender = $(this).prop("value");
      $("#genderM").prop("checked", gender == 0);
      $("#genderW").prop("checked", gender != 0);
      setCookie('gender', gender);
  }

  $("#genderM").change(genderChange);
  $("#genderW").change(genderChange);

  $('.message .close')
  .on('click', function() {
    setCookie('gprd', "1");
    $(this)
      .closest('.message')
      .transition('fade');
  });
});

</script>
{% endblock %}
