{% extends "base.html" %}
{% block body %}


<div class="ui segment right floated noborder">
<span class="ui orange right ribbon label">Prototype</span>
</div>

<h1 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    Générateur de plan
    <div class="sub header">5K, 10K, semi et Marathon.</div>
  </div>
</h1>


<div class="ui message">
  <div class="header">
    Mode d'emploi
  </div>
  <p>Cette page vous permet de générer un plan d'entraînement
  pour la plupart des distances de compétition route.
  Vous pouvez modifier les paramètres ci-dessous pour
  re-génerer le plan. N'oubliez pas de régler votre vma sur la <a href="/">page d'accueil</a>
  </p>
</div>

<form class="ui form"
      id="planOptions"
      onsubmit="return false;"
      action="." method="post">
  <div class="field">
    <label>Course</label>
    <select class="ui search dropdown" id="race">
        <option value="7">5 km</option>
        <option value="6">10 km</option>
        <option value="5">Semi-marathon</option>
        <option value="4">Marathon</option>
    </select>
  </div>
  <div class="field">
    <label>Nombre de semaines</label>
    <select class="ui search dropdown" id="weeks">
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
    </select>
  </div>
  <div class="field">
    <label>Nombre de séances par semaine</label>
    <select class="ui search dropdown" id="spw">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
  </div>
  <div class="field">
    <label>Intensité</label>
    <select class="ui search dropdown" id="level">
        <option value="1">Facile</option>
        <option value="2">Normale</option>
        <option value="3">Difficile</option>
    </select>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" id="cross">
      <label>Entraînement croisé</label>
    </div>
  </div>
</form>

<div class="ui divider"></div>

<h2 class="ui header" id="planTitle">Plan d'entraînement</h2>

<div id="plan">
</div>
{% endblock %}


{% block script %}
<script src="/static/jquery.datatables.js"></script>
<script src="/static/plan.js"></script>
<script>

function generate() {
  var race = $("#race").children("option:selected").val();
  var weeks = $("#weeks").children("option:selected").val();
  var spw = $("#spw").children("option:selected").val();
  var level = $("#level").children("option:selected").val();
  var cross = "0";
  if ($('#cross').is(":checked")) {
    cross = "1";
  }

  setCookie('race', race);
  setCookie('weeks', weeks);
  setCookie('spw', spw);
  setCookie('level', level);
  setCookie('cross', cross);
  fillTable(race, weeks, spw, level, cross);
}

$(document).ready(function(){
    $("#race").change(function(){
        generate();
    });

    $("#weeks").change(function(){
        generate();
    });

    $("#spw").change(function(){
        generate();
    });

    $("#level").change(function(){
        generate();
    });

   $("#cross").change(function(){
        generate();
    });

   var race = getCookie('race') || 6;
   $("#race").val(race);
   var weeks = getCookie('weeks') || 8;
   $("#weeks").val(weeks);
   var spw = getCookie('spw') || 5;
   $("#spw").val(spw);
   var level = getCookie('level') || 1;
   $("#level").val(level);

   var cross = getCookie('cross') || "0";
   if (cross == "1") {
     $("#cross"). prop("checked", true);
   } else {
     $("#cross"). prop("checked", false);
   }

  generate();

$('body').on({
  mouseenter: function() {
    $(this).popup("show");
  },
  mouseleave: function() {
    $(this).popup("hide");
  }
}, 'div.icon.button');

});

</script>
{% endblock %}

