{% extends "base.html" %}
{% block body %}


<h2 class="ui header"><i class="clock outline icon"></i>Temps de passage</h2>
<p>Ce tableau fourni les temps de passage pour chaque distance, exprimés
en pourcentage de votre VMA. Les cases oranges/rouges correspondent aux
allures de fractionnés extensifs et intensifs, de 100M à 1000M.
Les cases vertes correspondent à des estimations de chronos possibles
sur les distances de course correspondantes.
</p>
<table id="Fractionne" class="ui celled table" style="width:100%;font-size: 0.8em">
<thead>
<tr>
<th>Distance</th>
<th>65%</th>
<th>70%</th>
<th>75%</th>
<th>80%</th>
<th>85%</th>
<th>90%</th>
<th>95%</th>
<th>100%</th>
<th>105%</th>
<th>110%</th>
<th>115%</th>
</tr>
</thead>
</table>


<h2 class="ui header"><i class="bolt icon"></i>Allures</h2>
<p>Voici un rappel des vitesses et allures en fonction du pourcentage de la VMA
ainsi que du type d'effort
</p>

<table id="VMASpeed" class="ui celled table" style="width:100%;font-size: 0.8em">
<thead>
<tr>
<th>VMA</th>
<th>60%</th>
<th>65%</th>
<th>70%</th>
<th>75%</th>
<th>80%</th>
<th>85%</th>
<th>90%</th>
<th>95%</th>
<th>100%</th>
<th>105%</th>
<th>110%</th>
<th>115%</th>
</tr>
</thead>
</table>
{% endblock %}


{% block script %}
<script src="/static/jquery.datatables.js"></script>
<script src="/static/vma.js"></script>
{% endblock %}


